name: CI

on:
  pull_request:
  push:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: paolino/dev-assets/setup-nix@v0.0.1
        with:
          cachix-auth-token: "${{ secrets.CACHIX_AUTH_TOKEN }}"

      - name: Build and test
        run: nix run .#unit-tests --quiet

      - name: Check formatting
        run: nix develop --quiet -c fourmolu -m check lib app test

      - name: Lint
        run: nix develop --quiet -c hlint lib app test
